@font-face{
    font-family: 'oswald';
    src: url('../assents/fonts/Oswald/static/Oswald-Medium.ttf') format('woff2'),
        url(/assents/fonts/Oswald/static/Oswald-Regular.ttf) format('woff2');
    font-weight: normal;
    font-style: normal;

}